@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{

  background-image: url("/public/background.jpg");
}
.box{
  background: linear-gradient(#2e36d22a, #dc12fc2a);
}

.btn {
  color: white;
    width: 200px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 20px 60px;
    z-index: 1;
    position: relative;
    font-size: 16px;
    background: linear-gradient(to top left, rgba(1,4,20,1), rgba(1,4,20, 0), rgba(1,4,20,1)),linear-gradient(to top right, rgba(60, 79, 227, 1), rgba(1,4,20, 0), rgba(60, 79, 227, 1))rgba(1,4,20, 1);
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.text {
    color: linear-gradient(to right, #dc12fc, #2e36d2);
    background-size: 100%;
  
}
.step{
  
    width: 25px;
    height: 25px;
    z-index: 5;
    position: absolute;
    box-shadow: 0 0 10px 5px #cb01eb;
    border-radius: 100%;
    background-color: #cb01eb;
}
.line{
    box-shadow: 0 0 10px 5px #cb01eb;

}